/*Start button styling begin*/

#centerButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.centerButton {
    transition-duration: 0.4s;
}

.centerButton {
    width: 350px;
    height: 100px;
    margin-top: 250px;
    font-size: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.centerButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.centerButton:active {
    color: #000
}

.centerButton:hover {
    color: #000
}

.centerButton:hover:after {
    background: transparent;
}

.centerButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/*Start button styling end*/


/*Speech bubbles styling begin*/

blockquote.bubble {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    text-align: center;
    height: 0;
    box-sizing: content-box;
    line-height: 1;
}

blockquote.speech {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
    width: 25%;
    padding-top: 6%;
    padding-bottom: 20%;
}

.secondary {
    transform: scaleX(-1);
}

.secondaryContent {
    transform: scaleX(-1);
}

#bubbles {
    font-family: SequentialistBB, cursive;
    font-size: 2.5vw;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Speech bubbles styling begin*/


/*Choice buttons styling begin*/

.choiceButton {
    width: 350px;
    font-size: 25px;
    color: black;
    transition: 0.25s;
    background-color: red;
    border: 2px solid;
    border-radius: 15px;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-family: SequentialistBB, cursive;
    font-size: 25px;
    outline: none;
}

#choiceButtons {
    padding-top: 20%;
}

.choiceButton:hover {
    box-shadow: 0 0.5em 0.5em -0.4em red;
    transform: translateY(-0.25em);
    border-color: red;
    font-size: 30px;
}


/*Choice buttons styling end*/

h1 {
    -webkit-text-stroke: 2px #ff0000;
    font-family: fantasy;
    font-size: 125px;
    text-align: center;
}

@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}


/*Star Wars prologue effect*/

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    color: red;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 600%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 800px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: -100;
    transform-origin: 50% 100%;
    animation: crawl 10s linear;
}

.crawl>.title {
    font-size: 90%;
    text-align: center;
}

.crawl>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

* {
    box-sizing: border-box;
}

#gameBody {
    background-image: url("../images/bedroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#startBody {
    background-image: url("../images/galaxy.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#prologueBody {
    background-image: url("../images/galaxy.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#storyBox {
    background-color: red;
    width: max-content;
    padding: 20px;
    font-family: SequentialistBB, cursive;
    font-size: 30px;
    border-bottom-right-radius: 15px;
}